body {
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
}
.gameBoard{
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: #F0C37D;
    border-radius: 30px;
    padding: 1% 1%;
    box-sizing: border-box;
}
.row{
    display: flex;
    height: 9%;
    margin: 3% 0;
}
.square{
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    height: 90%;
    width: 8%;
}
.light{
    background-color: #C38741;
}
.dark{
    background-color: #C38741;
}
.blackScreen{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: +1;
}
.rules{
    background-color: whitesmoke;
}
.startButton{
    background-color: cornflowerblue;

}
.hideThis{
    display: none;
}

/* header */
.header {
    background-color: black;
    height: 20%;
    width: 100%;
}

.player1 playerContainer {
    position: relative;
    display: inline-block;
    height: 80%;
    width: 25%;
    background-color: blue;
}

.piece{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}